<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color:black;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="background-color: white ; color: black; padding: 2px;">Foot Locker</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/home" style="color: white;">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/add" style="color: white;">Add New Shoe</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active" routerLink="/list" style="color: white;">
                  My Cart List
                </a>
              </li>
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" placeholder="Rechercher" [(ngModel)]="name" (ngModelChange)="Search()">
              <button class="btn" type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
        </div>
      </nav>
<header>
    <img src="https://images.footlocker.com/content/dam/final/footlockereurope/Online_activations/fl-campaign/2022/2022_09_07_fl_holiday/05_final_output_files/ecom-gifting-hub/asp/2022_09_07_Holiday_design_November_Gifting_HUB_ASPbanner_ShoesWomen_1600x200.jpg" alt="...">
</header>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">color</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
 <tbody>
    <tr *ngFor="let s of addshoe">
      <td>{{ s.name }}</td>
      <td>{{ s.price }}</td>
      <td>{{ s.color }}</td>
      <td><img src="{{ s.image }}" alt=""></td>
      <td> <button type="submit" (click)="updateShoe(s.id)"><i class="bi bi-pencil"></i></button> |
        <button type="submit" (click)="deleteShoe(s.id)"><i class="bi bi-trash3"></i></button></td>
    </tr>
  </tbody>
</table>




<!--<div class="liv" style="margin: 10px; padding: 10px;">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <i class="bi bi-box-seam-fill">Profitez de box cadeau a partir de 100.000fr d'achats</i>
          </div>
          <div class="col">
            <i class="bi bi-truck">Livraison gratuite pour les premieres commandes</i>
          </div>
          <div class="col">
            <i class="bi bi-truck">Livraison a 5.000fr des 50.000fr d'achats</i>
          </div>
         </div>
      </div>
</div>
<div class="new">
    <h1 style="text-align: center; font: size 50px; font-weight: lighter; ">New Collection</h1>
</div>

<div class="mid" style="margin: 15px; padding: 15px;">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315214435802?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Glide</h5>
                  <p class="card-text">Bone | Burgundy | Off-white</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i>   &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315214437402?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Glide</h5>
                  <p class="card-text">Little-Bone | Bone | Off-white</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315347138802?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Smash</h5>
                  <p class="card-text">White | Milky Water White</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>

<div class="mid1" style="margin: 15px; padding: 15px;">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315214435802?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Glide</h5>
                  <p class="card-text">Bone | Burgundy | Off-white</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315214437402?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Glide</h5>
                  <p class="card-text">Little-Bone | Bone | Off-white</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315347138802?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Smash</h5>
                  <p class="card-text">White | Milky Water White</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>

<div class="mid2" style="margin: 15px; padding: 15px;">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315214435802?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Glide</h5>
                  <p class="card-text">Bone | Burgundy | Off-white</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315214437402?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Glide</h5>
                  <p class="card-text">Little-Bone | Bone | Off-white</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315347138802?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Smash</h5>
                  <p class="card-text">White | Milky Water White</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>

<div class="mid3" style="margin: 15px; padding: 15px;">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315214435802?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Glide</h5>
                  <p class="card-text">Bone | Burgundy | Off-white</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315214437402?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Glide</h5>
                  <p class="card-text">Little-Bone | Bone | Off-white</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.footlocker.com/is/image/FLEU/315347138802?wid=231&hei=231&fmt=png-alpha" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HUB Smash</h5>
                  <p class="card-text">White | Milky Water White</p>
                  <p>119.99 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<i class="bi bi-suit-heart"></i>  &nbsp; &nbsp;<i class="bi bi-cart"></i> &nbsp; &nbsp;<i class="bi bi-trash3"></i></p>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>-->






<footer>
    <div class="footer-content">
        <h3 style="background-color: white; color:black;">Foot Locker</h3>
        <table class="table table-borderless" style="color: white; margin: auto;">
            <thead>
              <tr>
                <th>FAQ Expeditions et Livraison</th>
                <th>Mes Commandes</th>
                <th>Nos Livraisons</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Besoin de reponses</th>
                <td>Connectez vous pour voir les commandes que vous avez passee</td>
                <td>Cherchez une boutique Foot Locker pres de chez vous </td>
              </tr>
              <tr>
                 <td><button class="btn btn-light" style="color: white; background-color: black;">Lire notre FAQ</button></td>               
                <td><button class="btn btn-light" style="color: white; background-color: black;">Voir les commandes</button></td>
                <td><button class="btn btn-light" style="color: white; background-color: black;">Trouver un magasin</button></td>
              </tr>
            </tbody>
          </table>
        <p>Connecte toi avec nous.</p>
        <ul class="socials">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
            <li><a href="#"><i class="bi bi-google"></i></a></li>
            <li><a href="#"><i class="bi bi-youtube"></i></a></li>
        </ul>
        <div class="footer-bottom">
            <p>Copyright &copy; 2022, Foot Locker. All Rights Reserved</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
